{% extends "base.html" %}
{% block content %}
<h1>Luo asiakaskäynti</h1>

{% if errors %}
<div class="alert alert-danger">
  <ul>
    {% for error in errors %}
    <li>{{error}}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<p>Työntekijät voivat vain kirjata omia asiakaskäyntejään. Vain aktiivisen asiakkaan voi valita.</p>
<p>Päivämäärät muodossa dd.mm.yyyy ja ajat muodossa hh:mm.</p>

<form method="post" action="{{base_path}}/customervisit">
  <div class="form-group">
    <label for="employee">Työntekijä</label>
    <p class="form-control-static">{{employee.first_name}} {{employee.last_name}}</p>
  </div>
  <div class="form-group">
    <label for="customer">Asiakas</label>
    <select class="form-control" name="customer_id">
      {% for customer in customers %}
      <option value="{{customer.id}}">{{customer.name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label>Alkamispäivämäärä</label>
    <input type="text" name="start_date" class="form-control" value="{{attributes.start_date}}">
  </div>
  <div class="form-group">
    <label>Alkamisaika</label>
    <input type="text" name="start_time" class="form-control" value="{{attributes.start_time}}">
  </div>
  <div class="form-group">
    <label>Loppumispäivämäärä</label>
    <input type="text" name="end_date" class="form-control" value="{{attributes.end_date}}">
  </div>
  <div class="form-group">
    <label>Loppumisaika</label>
    <input type="text" name="end_time" class="form-control" value="{{attributes.end_time}}">
  </div>
  <div class="form-group">
    <label for="kuvaus">Kuvaus</label>
    <textarea type="text" class="form-control" name="description" rows="7" id="comment">{{attributes.description}}</textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Luo</button>
  </div>
</form>
{% endblock %}