{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa asiakkaan {{customer.name}} tietoja</h1>

  <form>
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control" value="{{customer.name}}">
    </div>
    <div class="form-group">
      <label>Osoite</label>
      <input type="text" class="form-control" value="{{customer.address}}">
    </div>
    <div class="form-group">
      <label>Kaupunki</label>
      <input type="text" class="form-control" value="{{customer.city}}">
    </div>
    <div class="form-group">
      <label>Postinumero</label>
      <input type="text" class="form-control" value="{{customer.postnumber}}">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}