{% extends "base.html" %}
{% block content %}
<h1>Asiakkaat</h1>

{% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

<p>
  <a href="{{base_path}}/customer/add" class="btn btn-success">Lisää asiakas</a>
  <a href="{{base_path}}/customers/inactive" class="btn btn-default">Listaa epäaktiiviset asiakkaat</a>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nimi</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for customer in customers %}
    <tr>
      <td><a href="{{base_path}}/customer/view/{{customer.id}}">{{customer.name}}</a></td>
      <th><a class="btn btn-default btn-sm" href="{{base_path}}/customer/edit/{{customer.id}}">Muokkaa tietoja</a></th>
    </tr> 
    {% endfor %}

  </tbody>
</table>
{% endblock %}